# dotenv environment variable files
.env
.env.*

# Logs
*.log

# node_modules folder
node_modules/

# Extraneous files
test.js
.idea
.idea/*

# Compiled folder
dist/

# Typescript files
*.tsbuildinfo

# MacOS file
.DS_Store